.header{
    background-color: #00b0f0;

}

header{
    height: 30px;
    background-color: #0070c0;
}

nav, a{
    text-decoration: none;
    color: white;
    float: left;
    margin-left: 10px;
    line-height: 30px;

}

#companyTable{
    width: 45%;
    margin-left: 10px;
    margin-top: 20px;
}

#Edu_partners, .tableSearch{
    margin-top: 20px;
    margin-left: 10px;
}

td, th{
    border: black 1px solid;
}

.page_link{
    color: black;
}